h1{
  text-align: center;
}

header >figure{
  display: flex;
}

header{
  margin: 10px 0px 10px 0px;
}

img{
  height:100px;
  width:100px;
  margin-left: 20px;
}

img:hover{
  translete(scale:1,2);
}

main{
   color: white;
}


fieldset{
  background-color: back;
  display: flex;
  justify-content: center;
  align-item: center;
}

